h1, h2, h3 {
  text-align: center;
  background-color: mediumslateblue ;
}
u {
  color: gold;
  font-size: 20px;
}
h {
  color: green;
  font-size: 20px;
}

ul {
  list-style-type: circle;
  margin-left: auto;
}
list-style-type:circle;

margin-left: auto;

body{

Georgia, font-family: Georgia, 'Times New Roman', Times, serif;

margin:auto;

padding: auto;

}

merahaja

color: wheat;

background:palevioletred

padding: 10px